/*projetos home */
.blocoprojetoh
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.boxprojeto
{
  width: 35%;
  height: 750px;
  border:3px solid #212A3E;
  text-align: center;
  margin: 5%;
}

.boxprojeto .imgprojeto
{
  width: 70%;
  height: 250px;
  margin-left: 15%;
  background-size: cover;
}
.tecs span
{

}
.doceria
{
  background-image: url(../../../imagem/projetos/doceria.png);
}

.sitecomercial
{
  background-image: url(../../../imagem/projetos/siteComercial.png);
}

.webcurriculo
{
  background-image: url(../../../imagem/projetos/webcurriculo.PNG);
}

.portifolio
{
  background-image: url(../../../imagem/projetos/portifolio.png);
}