.conhecimentos
{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box
{
  width: 250px;
  height: 250px;
  border-radius: 30%;
  margin-left: 20px;
  margin-top: 20px;
  background-size: cover;
}
.lhtml
{
  background-image: url(../../img/html.png);
}
.css
{
  background-image: url(../../img/css.png); 
}
.java
{
  background-image: url(../../img/java.png);
}
.react
{
  background-image: url(../../img/react.png);
}
.ps
{
  background-image: url(../../img/ps.png);
}
.git
{
  background-image: url(../../img/git.jpg);
}
.vite
{
  background-image: url(../../img/vite.svg);
}