header
{
  width: 100%;
  height: 100px;
  display: flex;
}

.logo
{
  width: 150px;
  height: 80px;
  border: 1px solid red;
  margin: 10px;
}

nav
{
  width: 600px;
  height: 60px;
  display: flex;
  color: #454545;
}

nav a
{
  margin-left: 20px;
  margin-top: 60px;
  text-decoration: none;  
}
nav a:hover
{
  color:#FF6000;
}