#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/*
cor de fundo: #454545
cor de texto: #FFE6C7
Houver: #FFA559
detalhes: #FF6000
*/

ul, li, a, details, summary, span
{
  text-decoration: none;
  list-style-type: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #454545;
}

.containerPrincipal
{
  width: 768px;
  height: 1024px;
  background-color: #FFE6C7;
}

header
{
  width: 100%;
  height: 100px;
  display: flex;
}

.logo
{
  width: 150px;
  height: 80px;
  border: 1px solid red;
  margin: 10px;
}

nav
{
  width: 600px;
  height: 60px;
  display: flex;
  color: #454545;
}

nav a
{
  margin-left: 20px;
  margin-top: 60px;
  text-decoration: none;  
}
nav a:hover
{
  color:#FF6000;
}

/* conteudo */
section
{
  width: 100%;
  height: 700px;
  
}
.boxPerfil
{
  box-sizing: border-box;
  display: flex;
}
.imgPerfil
{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(237, 239, 239);
  margin: 20px;
}

.conhecimentos
{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box
{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #FF6000;
  background-size: cover;
  margin-left: 20px;
  margin-top: 20px;
}
/* cursos */
.boxCurso
{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fid, .udemy, .curso24h
{
  width: 100px;
  height: auto;
  margin-left: 50px
}

.boxCurso h2
.boxCurso p
/*footer */
footer
{
  width: 100%;
  height: 100px;
  padding-top: 150px;
}
footer span
{
  font-size: 20px;
  color: #454545;;
}
 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
